*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url(starry-background.jpg);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 100%;
    
}

header {
    margin-bottom: 10px;
    background: #5f5f5f;
    padding: 10px;
    overflow: hidden;
    border: 5px solid white;
    text-align: center;
}

nav {
    list-style-type: none;
    margin-bottom: 10px;
    overflow: hidden;

}

nav li {
    float: left;
    display: inline;
    width: 100%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    border: 1px solid white;
}

nav li a:hover {
    color: orange;
    background: white;
}

#pic {
    float: left;
}

main { 
    width: 100%;
    background: #838383;
    margin-bottom: 20px;
    border: 2px solid white;

}


footer {
    height: 50px;
    background: #636161;
    clear: both;
    border: 5px solid white;
}

footer ul {
    list-style-type: none;
    text-align: center;
    line-height: 50px;
}

footer li {
    float: left;
    width: 25%;
}

footer a {
    color: white;
}

footer img {
    display: block;
    margin-top: 10px;
}

a{
    color: yellow;
}


#wrapper {
    width: 940px;
    margin: 20px auto;
}

button
{
    width: 100%;
}
/*Typography!!!*/

h1 {
    font-size: 3.583em;
    letter-spacing: 1px;
    line-height: 2;
    
}


p {
    margin: 0 10px 10px 10px;
    line-height: 1.25;
    letter-spacing: 1px;
    font-family: Helvetica, sans-serif;
    font-weight:700;
    text-align: center;  
}